HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
*.sqlite
/.vs/ConfigServer/CopilotIndices/17.14.734.62261/CodeChunks.db
/.vs/ConfigServer/CopilotIndices/17.14.734.62261/CodeChunks.db-shm
/.vs/ConfigServer/CopilotIndices/17.14.734.62261/CodeChunks.db-wal
/.vs/ConfigServer/CopilotIndices/17.14.734.62261/SemanticSymbols.db
/.vs/ConfigServer/CopilotIndices/17.14.734.62261/SemanticSymbols.db-shm
/.vs/ConfigServer/CopilotIndices/17.14.734.62261/SemanticSymbols.db-wal
/.vs/ConfigServer/FileContentIndex/df5f4252-973f-49d6-902c-58db63b81b3d.vsidx
*.vsidx
/.vs/ProjectSettings.json
